extends ./layout.pug
block content
  .large Missing device
  .medium
    | Insert your phone(s) in the USB port(s), turn it on and make sure you have installed&nbsp;
    a(href="http://developer.android.com/sdk/index.html#downloads") ADB command lines tools&nbsp;
    | and have it in your $PATH. Then click&nbsp;
    a(href="/") here
    |.
